In [2]:
import os
import pandas as pd 
import numpy as np
from io import StringIO 

def answer_one():
    df = pd.ExcelFile('Energy Indicators.xls')
    energy = df.parse(skiprows=17,skip_footer=(38))
    energy.drop(energy.columns[[0,1]], axis=1, inplace=True) 
    energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    yulo=energy['Energy Supply']
    mas=yulo.values
    a=[]
    i=0
    for i in mas:
        if i=="Petajoules":
            energy.loc[i,('Energy Supply')]= 1000000
        if i=="...":
            energy.loc[i,('Energy Supply')]= np.NaN
    i=0
    mafa=energy['Country']
    for i in mafa:
        j=str(i) 
        o=list(j)
        if o!="nan":
            for word in o:
                a.append(word)
                my = ''.join(map(str, a))
                if word=="(":
                    a.remove(word)
                    a.pop(-1)
                    my = ''.join(map(str, a))
                    energy.loc[i,('Country')]= my
                    break
                po=str(word) 
                if po.isdigit():
                    a.remove(word)
                    my = ''.join(map(str, a))
                    energy.loc[i,('Country')]= my
                    break
                    
            pot=0
            del a[:]

    i=0  
    masa=energy['Country']
    for i in masa:
        if i=="United States of America":
            energy.loc[i,('Country')]= "United States"
        if i=="Republic of Korea":
            energy.loc[i,('Country')]= "South Korea"
        if i=="United Kingdom of Great Britain and Northern Ireland":
            energy.loc[i,('Country')]= "United Kingdom"
        if i=="China, Hong Kong Special Administrative Region":
            energy.loc[i,('Country')]= "Hong Kong" 
    
    
    GDP= pd.read_csv("GDP.csv",skiprows=4)
    masa1=GDP['Country Name']
    i=0
    for i in masa1:
        if i=="Korea, Rep.":
            GDP.loc[i,('Country Name')]= "South Korea"
        if i=="Iran, Islamic Rep.":       
            GDP.loc[i,('Country Name')]= "Iran"
        if i=="Hong Kong SAR, China":
            GDP.loc[i,('Country Name')]= "Hong Kong"
    GDP=GDP.loc[:, ['Country Name','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    GDP.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    ScimEn = pd.read_excel(io='scimagojr.xlsx')
    ScimEn = ScimEn[:15]
    df6 = pd.merge(ScimEn,energy,how='inner',left_on='Country',right_on='Country')
    new_df = pd.merge(df6,GDP,how='inner',left_on='Country',right_on='Country')
    new_df = new_df.set_index('Country')
    return new_df
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,167992,167369,1057626,722578,6.30,176,NaN,NaN,NaN,2.752132e+12,3.552182e+12,4.598206e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106467e+13
United States,2,126158,123332,1296212,444998,10.27,278,NaN,NaN,NaN,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.742761e+13,1.812071e+13
Japan,3,37948,37612,316956,85620,8.35,155,NaN,NaN,NaN,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.394978e+12
United Kingdom,4,28998,28176,335914,64609,11.58,170,NaN,NaN,NaN,2.692613e+12,3.074360e+12,2.890564e+12,2.382826e+12,2.441173e+12,2.619700e+12,2.662085e+12,2.739819e+12,3.022828e+12,2.885570e+12
India,5,24872,24300,215787,68150,8.68,141,33195,26,14.96908,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.102391e+12
Germany,6,24407,23963,231800,48820,9.50,151,13261,165,17.90153,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.890607e+12,3.375611e+12
Russian Federation,7,23361,23196,55495,22485,2.38,69,30709,214,17.28868,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.063663e+12,1.368401e+12
Canada,8,22908,22465,332093,62436,14.50,177,10431,296,61.94543,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.799269e+12,1.559623e+12
France,9,17569,17230,203486,43210,11.58,139,NaN,NaN,NaN,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
South Korea,10,16004,15848,176965,34607,11.06,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,11,15880,15411,184184,45471,11.60,127,NaN,NaN,NaN,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832868e+12
Iran,12,13131,12983,119550,39184,9.10,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,13,12705,12559,99136,24398,7.80,103,12149,59,69.64803,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12
Australia,14,12635,12397,157471,27620,12.46,131,NaN,NaN,NaN,7.455219e+11,8.519628e+11,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12
Spain,15,12478,12270,195663,36353,15.68,138,NaN,NaN,NaN,1.264551e+12,1.479342e+12,1.635015e+12,1.499100e+12,1.431617e+12,1.488067e+12,1.336019e+12,1.361854e+12,1.376911e+12,1.197790e+12

In [57]:
def answer_two():
    df2=answer_one()
    df2.drop(df2.columns[[0,1,2,3,4,5,6,7,8,9]], axis=1, inplace=True)
    df2=df2.T
    n=0
    for i in  range(len(df2)):
        ua=np.mean(df2.iloc[:,n], axis=0)
        df2.iloc[[0],n]=ua
        n=n+1
    df2=df2.T
    df2.columns=['0','1','2','3','4','5','6','7','8','9']
    de=df2.sort_values(by=['0'],ascending=False)
    avgGDP=de['0']
    avgGDP = avgGDP.rename("avgGDP")
    return avgGDP
answer_two()

Country
United States         1.563482e+13
China                 6.940046e+12
Japan                 5.177681e+12
Germany               3.535028e+12
United Kingdom        2.741154e+12
France                2.687371e+12
Italy                 1.942634e+12
Russian Federation    1.668915e+12
Canada                1.612860e+12
India                 1.593787e+12
Spain                 1.264551e+12
Brazil                1.107640e+12
Australia             7.455219e+11
South Korea                    NaN
Iran                           NaN
Name: avgGDP, dtype: float64

In [58]:
def answer_three():
    re = answer_one()
    tre= re.iloc[6,19] - re.iloc[6,10]
    return tre
answer_three()

378470163212.3251

In [3]:
def answer_four():
    df=answer_one()
    df2=  df['Self-citations'] / df['Citations'] 
    de=df2.sort_values(ascending=False)
    a = tuple()
    a=list(zip(de,de.index))
    return a[0]
answer_four()

(0.6832074854438147, 'China')

In [4]:
def answer_five():
    df=answer_one()
    df2=  df['Energy Supply'] / df['Energy Supply per Capita'] 
    de=df2.sort_values(ascending=False)
    a = tuple()
    a=list(zip(de,de.index))
    g=str(a[2])
    return g
answer_five()

"(143.5, 'Russian Federation')"

In [5]:
def answer_six():
    df=answer_one()
    df2=  df['Energy Supply'] / df['Energy Supply per Capita'] 
    df['Number of persons']=df2
    df['Number of citable documents per person']=df['Citable documents'] /df['Number of persons']
    df['Energy Supply per Capita'] = pd.to_numeric(df['Energy Supply per Capita'], errors='coerce')
    df['Number of citable documents per person'] = pd.to_numeric(df['Number of citable documents per person'], errors='coerce')
    a = df['Energy Supply per Capita'].corr(df['Number of citable documents per person'])
    return a
answer_six()

0.8826325225866013

In [6]:
def answer_six():
    df=answer_one()
    df2=  df['Energy Supply'] / df['Energy Supply per Capita'] 
    df['Number of persons']=df2
    df['Number of citable documents per person']=df['Citable documents'] /df['Number of persons']
    df['Energy Supply per Capita'] = pd.to_numeric(df['Energy Supply per Capita'], errors='coerce')
    df['Number of citable documents per person'] = pd.to_numeric(df['Number of citable documents per person'], errors='coerce')
    a = df['Energy Supply per Capita'].corr(df['Number of citable documents per person'])
    return a
answer_six()

0.8826325225866013

In [4]:
import scipy
def answer_seven():
    df=answer_one()
    df['Continent']= None
    df['Pop'] = None
    df['count'] = None
    ContinentDict  = {'China':'Asia',
                  'United States':'North America',
                  'Japan':'Asia',
                  'United Kingdom':'Europe',
                  'Russian Federation':'Europe',
                  'Canada':'North America',
                  'Germany':'Europe',
                  'India':'Asia',
                  'France':'Europe',
                  'South Korea':'Asia',
                  'Italy':'Europe',
                  'Spain':'Europe',
                  'Iran':'Asia',
                  'Australia':'Australia',
                  'Brazil':'South America'}
    for i in range(len(df)):
        df.iloc[i,20]= ContinentDict[df.index[i]]
        df.iloc[i,21] = df.iloc[i,7]/df.iloc[i,8]
        df.iloc[i,22] = 1
    suma0=df
    count = suma0.groupby(['Continent'])['count'].sum().reset_index()
    pop = suma0.groupby(['Continent'])['Pop'].sum().reset_index()
    del count['Continent']
    oll=pd.concat([count,pop], axis=1)
    oll = oll.set_index('Continent')
    oll['mean']=oll['Pop']/oll['count']
    sa=pd.to_numeric(suma0['Pop'])
    oll['std']=pd.to_numeric(suma0['Pop'], errors='ignore').groupby(suma0['Continent']).std()
    oll['mean1']=pd.to_numeric(suma0['Pop'], errors='ignore').groupby(suma0['Continent']).mean()
    oll.columns=['size', 'sum', 'mean', 'std','mean1']
    return oll
answer_seven()
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,167992,167369,1057626,722578,6.30,176,NaN,NaN,NaN,2.752132e+12,3.552182e+12,4.598206e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106467e+13
United States,2,126158,123332,1296212,444998,10.27,278,NaN,NaN,NaN,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.742761e+13,1.812071e+13
Japan,3,37948,37612,316956,85620,8.35,155,NaN,NaN,NaN,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.394978e+12
United Kingdom,4,28998,28176,335914,64609,11.58,170,NaN,NaN,NaN,2.692613e+12,3.074360e+12,2.890564e+12,2.382826e+12,2.441173e+12,2.619700e+12,2.662085e+12,2.739819e+12,3.022828e+12,2.885570e+12
India,5,24872,24300,215787,68150,8.68,141,33195,26,14.96908,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.102391e+12
Germany,6,24407,23963,231800,48820,9.50,151,13261,165,17.90153,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.890607e+12,3.375611e+12
Russian Federation,7,23361,23196,55495,22485,2.38,69,30709,214,17.28868,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.063663e+12,1.368401e+12
Canada,8,22908,22465,332093,62436,14.50,177,10431,296,61.94543,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.799269e+12,1.559623e+12
France,9,17569,17230,203486,43210,11.58,139,NaN,NaN,NaN,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
South Korea,10,16004,15848,176965,34607,11.06,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,11,15880,15411,184184,45471,11.60,127,NaN,NaN,NaN,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.832868e+12
Iran,12,13131,12983,119550,39184,9.10,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,13,12705,12559,99136,24398,7.80,103,12149,59,69.64803,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12
Australia,14,12635,12397,157471,27620,12.46,131,NaN,NaN,NaN,7.455219e+11,8.519628e+11,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12
Spain,15,12478,12270,195663,36353,15.68,138,NaN,NaN,NaN,1.264551e+12,1.479342e+12,1.635015e+12,1.499100e+12,1.431617e+12,1.488067e+12,1.336019e+12,1.361854e+12,1.376911e+12,1.197790e+12

In [7]:
def answer_seven():
    df = answer_one()
    population_estimate = df['Energy Supply'] / df['Energy Supply per Capita']
    population_estimate = pd.to_numeric.population_estimate
    ContinentDict  = {'China':'Asia',
                      'United States':'North America',
                      'Japan':'Asia',
                      'United Kingdom':'Europe',
                      'Russian Federation':'Europe',
                      'Canada':'North America',
                      'Germany':'Europe',
                      'India':'Asia',
                      'France':'Europe',
                      'South Korea':'Asia',
                      'Italy':'Europe',
                      'Spain':'Europe',
                      'Iran':'Asia',
                      'Australia':'Australia',
                      'Brazil':'South America'}
    grouped = population_estimate.groupby(ContinentDict).agg(['size', 'sum', 'mean', 'std'])
    return grouped
answer_seven()

DataError: No numeric types to aggregate

In [ ]:
Lesson 2. Python and Pandas 
Pandas installation
$ pip install pandas 
$ pip install 'pandas==0.23.4'
Home task: Practice with pandas
Question 1
    Load the energy data from the file "Energy Indicators.xls"
        http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls 
        It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013
        It should be put into a DataFrame with the variable name of "energy"

        Make sure to exclude the footer and header information from the datafile.
        The first two columns are unnecessary, so you should get rid of them, and you should change the column labels so that the columns are:
        ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

        Convert "Energy Supply" to gigajoules (there are 1,000,000 gigajoules in a petajoule).
        For all countries which have missing data (e.g. data with "...") make sure this is reflected as "np.NaN" values.

        Rename the following list of countries (for use in later questions):
            "Republic of Korea": "South Korea",
            "United States of America": "United States",
            "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
            "China, Hong Kong Special Administrative Region": "Hong Kong"

        There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.
        "'Bolivia (Plurinational State of)'" should be "'Bolivia'",
        "'Switzerland17'" should be "'Switzerland'".

    Next, load the GDP data from the file "world_bank.csv":
        http://data.worldbank.org/indicator/NY.GDP.MKTP.CD 
        It is a csv containing countries' GDP from 1960 to 2017 from World Bank
        Call this DataFrame "GDP"

        Make sure to skip the header, and rename the following list of countries:
        "Korea, Rep.": "South Korea",
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"


    Finally, load the "Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology"
        http://www.scimagojr.com/countryrank.php?category=2102
        It ranks countries based on their journal contributions in the aforementioned area.
        Call this DataFrame "ScimEn"
    Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).
        The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
           'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].
    Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

Question 2
    In the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by answer_one())
    What is the average GDP over 10 years  (2006-2015) for each country? (exclude missing values from this calculation)
    Function "answer_two" should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order

Question 3
    By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?
    Function "answer_three" should single number

Question 4
    Create a new column that is the ratio of Self-Citations to Total Citations.
    What is the maximum value for this new column, and what country has the highest ratio?
    Function "answer_four" should return tuple with the name of the country and the ratio

Question 5
    Create a column that estimates the population using Energy Supply and Energy Supply per capita.
    What is the third most populous country according to this estimate?
    Function "answer_five" should return a single string value

Question 6
    Create a column that estimates the number of citable documents per person.
    What is the correlation between the number of citable documents per capita and the energy supply per capita?
    Use the `.corr()` method, (Pearson's correlation).
    Function "answer_six" should return should return a single number.


Question 7
    Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size
    (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.
    ContinentDict  = {'China':'Asia',
                  'United States':'North America',
                  'Japan':'Asia',
                  'United Kingdom':'Europe',
                  'Russian Federation':'Europe',
                  'Canada':'North America',
                  'Germany':'Europe',
                  'India':'Asia',
                  'France':'Europe',
                  'South Korea':'Asia',
                  'Italy':'Europe',
                  'Spain':'Europe',
                  'Iran':'Asia',
                  'Australia':'Australia',
                  'Brazil':'South America'}
    Function "answer_seven" should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America']
    and columns ['size', 'sum', 'mean', 'std']
Learn more
Documentation “pandas: powerful Python data analysis toolkit”
https://pandas.pydata.org/pandas-docs/version/0.22/index.html  
Pandas Tutorial: DataFrames in Python
https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python 
Pandas Cheat Sheet
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf 
Presentation “pandas: Powerful data analysis tools for Python”
https://www.slideshare.net/wesm/pandas-powerful-data-analysis-tools-for-python 
Introduction to Data Science in Python
https://www.coursera.org/learn/python-data-analysis 
Merge, join, and concatenate
https://pandas.pydata.org/pandas-docs/stable/merging.html

In [12]:
pd.__version__

'0.23.4'